body {
    background-color: #DBE2EF;
}

hr {
    /* background-color: white; */
    border-style: none;
    border-top-style: dotted;
    height: 0px;
    width: 10%;
    border-color: gray;
    border-width: 7px;
}

img{
    width: 100px;
    height: 100px;
    /* background-color: #3825e6; */
    border-radius:50%;
    box-shadow: 0 0 5px 5px grey;
}

h1 {
    color: #3F72AF;
}

h3 {
    color: #3F72AF;
}